span{
    color: #2196F3;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
}
.logo{
    color: #000;
 font-family: Raleway;
 font-size: 26px;
  font-style: normal;
  font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
}
.ctudia{
    color: #2196F3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}
.portfolio{
    color: #212121;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 0.28px;
}
.kontakt{
    color: #212121;
 font-family: Roboto;
 font-size: 14px;
   font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 0.28px;
}
.com{
    color: #2196F3;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 0.28px;
}
.nom{
    color: #757575;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 letter-spacing: 0.28px;
}
.button1{
    width: 73px;
 height: 38px;
 flex-shrink: 0;
 border-radius: 4px;
 background: #2196F3;

 /* shadow-middle */
 box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
 color: #FFF;
 text-align: center;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: 26px; /* 162.5% */
 letter-spacing: 0.48px;

}
.button2{
    width: 125px;
    height: 38px;
 flex-shrink: 0;
 border-radius: 4px;
  background: #F5F4FA;
  color: #212121;
 text-align: center;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: 26px; /* 162.5% */
 letter-spacing: 0.48px;
}
.button3{
    width: 112px;
 height: 38px;
 flex-shrink: 0;
 border-radius: 4px;
 background: #F5F4FA;
 color: #212121;
 text-align: center;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
  font-weight: 500;
 line-height: 26px; /* 162.5% */
 letter-spacing: 0.48px;
}
.button4{
    width: 103px;
 height: 38px;
 flex-shrink: 0;
 border-radius: 4px;
 background: #F5F4FA;
 color: #212121;
 text-align: center;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: 26px; /* 162.5% */
 letter-spacing: 0.48px;
}
.button5{
    width: 130px;
 height: 38px;
 flex-shrink: 0;
 border-radius: 4px;
 background: #F5F4FA;
 color: #212121;
 text-align: center;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: 26px; /* 162.5% */
 letter-spacing: 0.48px;
}
.img{
    width: 370px;
 height: 294px;
 flex-shrink: 0;
 background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.forma{
    width: 370px;
    height: 404px;
    flex-shrink: 0;
    border: 1px solid #EEE;
    background: #FFF;
   }
h3{
    color: #212121;
 font-family: Roboto;
 font-size: 18px;
 font-style: normal;
 font-weight: 700;
 line-height: 36px; /* 200% */
 letter-spacing: 1.08px;
}
p{
    color: #757575;
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 30px; /* 187.5% */
 letter-spacing: 0.48px;
}
body{
    width: 1600px;
}
li {
    list-style-type: none;
    /* Убираем маркеры */
  }
  .logoo{
    color: #FFF;
 font-family: Raleway;
 font-size: 26px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
 letter-spacing: 0.78px;
}

.comm{
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
    width: 136px;
    height: 21px;
    flex-shrink: 0;
}
.nom{
    color: #757575;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px; /* 171.429% */
 letter-spacing: 0.42px;
 width: 136px;
 height: 21px;
 flex-shrink: 0;
}
.punkt{
    color: #FFF;
 font-family: Roboto;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px; /* 171.429% */
 letter-spacing: 0.42px;
 width: 231px;
 height: 21px;
 flex-shrink: 0;
}
#pp{
    width: 1600px;
 height: 252px;
 flex-shrink: 0;
 background: #2F303A;
}
#ee{
    width: 1600px;
 height: 1680px;
 flex-shrink: 0;
 background: #F5F4FA;
}
.photo{
    width: 270px;
 height: 260px;
 flex-shrink: 0;
}
body{
    font-family: Roboto;
}
header{
    font-family: Raleway;
}